body{
    align-items: center;
    align-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
.topic-1{        
        text-align: center;
        font-size: x-large;
        font-weight: bolder;
        margin-top: 0px;
        margin-bottom: 1rem;
        color: #111E59;
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 20px;
}
table{ 
  color: #333333;  
  font-style: normal;
  font-weight: bold;
  font-size: smaller;
  text-align: left; 
  background-color: #FFFFFF; 
  border-collapse: collapse; 
  border-radius: 50%;
  border: 2px solid navy;
  box-shadow: whitesmoke;
  align-items: center;
  align-content: center;
}
table.inner{
  border-radius: 50%;
}

.btn-0 {
    color: #FFFFFF;
    background-color: #111E59;
    padding: 10px;
    border-radius: 50%;
    border-color: none;
    font-weight: bold;
    pointer-events: visible;
}